.o_web_client {
    .o_action_manager {
        .o_action {
                &.sh_checkIn_custom_class{
                .o_form_view_container {
                    .o_control_panel {
                        background: #ffffff;
                        border-radius: 10px;
                        margin: 15px 16px;
                        margin-bottom: 10px;
                        box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
                        padding: 1.5rem 16px !important;
                        @include media-breakpoint-down(md) {
                            margin: 10px 16px;
                        }
                        .o_cp_top{
                            .o_cp_top_left {
                                .breadcrumb {
                                    .breadcrumb-item{
                                        span {
                                            color: #000 !important;
                                            font-weight: 700;
                                        }
                                    }
                                }
                            }
                            .o_cp_top_right{
                                .o_cp_searchview {
                                    .o_searchview {
                                        border: 1px solid #ccc !important;
                                        border-radius: 8px !important;
                                        padding: 6px 5px !important;
                                        &:focus,
                                        &:hover {
                                            border-color: $primaryColor !important;
                                        }
                                        .o_searchview_icon{
                                            top: 11px !important;
                                            right: 8px !important;
                                            z-index: 99;
                                        }
                                    }
                                }                                
                            }
                        }
                        .o_cp_bottom{
                            .o_cp_bottom_right{
                                .o-dropdown{
                                    &.btn-group{
                                        .btn-light{
                                            background-color: transparent !important;
                                            border-color: transparent;
                                            font-weight: 600;
                                            .fa{
                                                font-weight: 600;
                                            }
                                        }
                                    }
                                } 
                                .o_cp_pager{
                                    .o_pager {
                                       font-weight: 600;
                                       .btn-group{
                                            .btn-secondary{
                                                background-color: transparent !important;
                                                border-color: transparent;
                                                font-weight: 600;
                                                .fa{
                                                    font-weight: 600;
                                                }
                                            }
                                       } 
                                    }
                                }
                            }
                        }
                    }
    
                    .o_content {
                        overflow: hidden;
                        .checkin_panel {
                            background: #ffffff;
                            border-radius: 10px;
                            margin-top: 0 !important;
                            box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
                            padding: 1rem 16px;  
                            position: sticky;
                            top: 0;
                            z-index: 9;    
                            @include media-breakpoint-down(md) {
                                padding: 1.5rem 16px; 
                            }  
                            @include media-breakpoint-down(md) {
                                position: unset;
                            }                
                            .d-flex.justify-content-between {
                                @include media-breakpoint-down(sm) {
                                    flex-direction: column ;
                                    gap: 15px;
                                }
                            }                      
    
                            .my_checkin_panel {
                                font-size: 15px;
                                font-weight: bold;
                                width: 100%;
                                display: flex;
                                align-items: center;
                                
                                @include media-breakpoint-down(md) {
                                    font-size: 14px;
                                }
                                .fa-star {
                                    color: yellow;
                                }
                                .checkin_panel_title{
                                    @include media-breakpoint-down(md) {
                                        width: 70%;
                                    }
                                }
                                .save_discard_btn_box{
                                    @include media-breakpoint-down(md) {
                                        width: 30%;
                                    }
                                    
                                }
                            }
    
                            .history_btn_rightside {
                                width: 45%;
                                justify-content: end;
                                @include media-breakpoint-between(md, lg) {
                                    width: 100%;
                                }
                                @include media-breakpoint-down(sm) {
                                    width: 100%;
                                    justify-content: unset;
                                }
                                .line {
                                    width: 1px;
                                    height: auto;
                                    background: $secondaryColor;
                                    margin: 0 30px;
                                }
    
                                .history_calendar {
                                    .fa-calendar {
                                        font-size: 28px;
                                        color: $primaryColor;
                                        padding-right: 10px;
                                    }
    
                                    .canedar_text {
                                        .canedar_date {
                                            p {
                                                color: $primaryColor;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                       
                        .checkin_work_panel {
                            margin-top: 20px;
                            .left_panel{ 
                                overflow: auto;
                                display: block !important;
                                height: calc(100vh - 20rem);  
                                @include media-breakpoint-between(md, lg) {
                                    height: calc(100vh - 22.5rem);                       
                                }
                                @include media-breakpoint-down(md) {
                                    height: auto;                        
                                }
                                &::-webkit-scrollbar{
                                    width: 3px !important;
                                }
                                .checkin_reating_box {
                                    background: #ffffff;
                                    border-radius: 10px;
                                    padding: 0.6rem 16px;
                                    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
                                    margin: 0px 0 20px;
                                    padding-bottom: 30px;
                                    .checkin_heading {
                                        border-bottom: 1px solid $secondaryColor;
                                        padding-top: 10px;
                                        padding-bottom: 15px;
        
                                        p {
                                            font-size: 17px;
                                            font-weight: 600;
                                            text-transform: capitalize;
                                        }
                                    }
        
                                    .progress_bar_main {
                                        display: grid;
                                        gap: 15px;
        
                                        .steps_div {
                                            position: relative;
                                            margin: 25px auto 15px;
                                            width: 100%;
                                            display: flex;
                                            justify-content: center;
                                            align-items: center;
                                            counter-reset: test 0;
                                            @include media-breakpoint-down(lg) {
                                                flex-direction: column ;
                                            }
                                            .step_box_text_awful {
                                                .step_box_starting_text {
                                                    width: 65px;
                                                    height: 65px;
                                                    margin-top: 5px;
                                                    img{
                                                        width: 100%;
                                                        height: 100%;
                                                        object-fit: cover;
                                                    }
                                                }
                                            }
        
                                            .step_box_text_amazing {
                                                .step_box_starting_text {
                                                    width: 65px;
                                                    height: 65px;
                                                    margin-top: 5px;
                                                    img{
                                                        width: 100%;
                                                        height: 100%;
                                                        object-fit: cover;
                                                    }
                                                }
                                            }
        
                                            &>.step_box {
                                                ~ {
                                                    .step_box {
                                                        &:after {
                                                            content: "";
                                                            position: absolute;
                                                            width: 65%;
                                                            height: 2px;
                                                            background-color: $secondaryColor;
                                                            top: 50%;
                                                            left: -33%;
                                                            transition: all ease-in-out .3s;
                                                            @include media-breakpoint-down(lg) {
                                                                width: 2px;
                                                                height: 40%;
                                                                top: -15px;
                                                                left: 50%;
                                                            }
                                                            @include media-breakpoint-between(lg, xl) { 
                                                                width: 55%;
                                                                left: -28%;
                                                            }
                                                        }
                                                    }
                                                }
                                            }
        
                                            .step_box {
        
                                                list-style: none;
                                                padding: 0 50px;
                                                position: relative;
                                                text-align: center;
                                                text-transform: uppercase;
                                                @include media-breakpoint-between(lg, xl) { 
                                                    padding: 0px 35px;
                                                }
                                                @include media-breakpoint-down(lg) {
                                                    padding: 20px 0px;
                                                    padding-left: 0 !important;
                                                    padding-right: 0 !important;
                                                }
        
                                                &:before {
                                                    counter-increment: test;
                                                    content: counter(test);
                                                    width: 40px;
                                                    height: 40px;
                                                    border: 3px solid #cacaca;
                                                    border-radius: 50%;
                                                    display: block;
                                                    text-align: center;
                                                    line-height: 35px;
                                                    background: #fff;
                                                    color: #cacaca;
                                                    transition: all ease-in-out .3s;
                                                    cursor: pointer;
                                                    font-size: 17px;
                                                    font-weight: 600;
                                                }
        
                                                &.active {
                                                    color: #555555;
        
                                                    &:before {
                                                        background: $primaryColor;
                                                        color: #f1f1f1;
                                                        border-color: $primaryColor;
                                                    }
        
                                                    + {
                                                        .step_box {
                                                            &:after {
                                                                background: $primaryColor;
                                                                border-color: $primaryColor;
                                                            }
                                                        }
                                                    }
                                                }
        
                                            }
                                        }
        
                                        .count_text {
                                            p {
                                                font-size: 17px;
                                                font-weight: 600;
                                                text-transform: capitalize;
                                            }
                                        }
                                    }
                                }
        
                                .quations_box_main {
                                    background: #ffffff;
                                    border-radius: 10px;
                                    padding: 0.6rem 16px;
                                    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
        
                                    .quations_heading {
                                        border-bottom: 1px solid $secondaryColor;
                                        padding-top: 10px;
                                        padding-bottom: 15px;
        
                                        p {
                                            font-size: 17px;
                                            font-weight: 600;
                                            text-transform: capitalize;
                                        }
                                    }
        
                                    .quations_input_box {
                                        margin-top: 15px;
        
                                        .form-label {
                                            font-size: 15px;
                                            font-weight: 700;
        
                                            .optipnal_span {
                                                opacity: 0.2;
                                            }
                                        }
        
                                        .form-control {
                                            border-radius: 7px;
                                            padding: 0.6rem 0.75rem !important;
                                        }
                                    }
                                    .quations_ideas {
                                        margin: 15px 0;
                                        .form-label{
                                            margin-bottom: 10px;
                                            text-transform: capitalize;
                                            font-weight: 600;
                                        }
                                    }
                                }
                            }
                            .right_panel{
                                // position: fixed;
                                // top: 0;
                                .recent_checkin_box {
                                    overflow: auto;
                                    max-height: calc(100vh - 26.5rem);
                                    @include media-breakpoint-down(md) {
                                        height: auto;
                                    }
                                    &::-webkit-scrollbar{
                                        width: 3px !important;
                                    }
                                    background: #ffffff;
                                    border-radius: 10px;
                                    padding: 0.6rem 16px;
                                    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
                                    margin: 10px 0 20px;        
                                    .recent_checkin_heading {
                                        padding-top: 10px;
                                        padding-bottom: 10px;
        
                                        p {
                                            font-size: 17px;
                                            font-weight: 600;
                                            text-transform: capitalize;
                                            word-break: break-word;
                                        }
                                    }
                                    .recent_checkin_time_box {
                                        border-top: 1px solid $secondaryColor;
                                        padding-top: 15px;
                                        gap: 15px;
            
                                        .recent_checkin_label {
                                            .recent_checkin_label_span {
                                                width: 7px;
                                                height: 7px;
                                                border-radius: 10px;
                                                background-color: green;
                                                display: inline-block;
                                            }
                                        }
            
                                        .recent_checkin_time {
                                            .recent_checkin_date {
                                                color: #4e4e4e;
                                                font-size: 14px;
                                                font-weight: 600;
                                            }
            
                                            .recent_checkin_time_text {
                                                color: #4e4e4e;
                                                opacity: 0.6;
                                                font-weight: 600;
                                                font-size: 13px;
                                                word-break: break-word;
                                            }
                                        }
                                    }
                                }
        
                                .employe_checkin_box {
                                    background: #ffffff;
                                    border-radius: 10px;
                                    padding: 0.6rem 16px;
                                    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
                                    margin: 0px 0 20px;
        
                                    @include media-breakpoint-down(sm) {
                                        margin: 16px 0;
                                    }
        
                                    .employe_checkin_heading {
                                        border-bottom: 1px solid $secondaryColor;
                                        padding-top: 10px;
                                        padding-bottom: 10px;
        
                                        p {
                                            font-size: 15px;
                                            font-weight: 600;
                                            text-transform: capitalize;
                                        }
                                    }
        
                                    .employe_checkin_time_box {
        
                                        .employe_checkin_label {
                                            width: 20%;
                                            height: 50px;
                                            margin-right: 15px;
        
                                            img {
                                                width: 100%;
                                                height: 100%;
                                                object-fit: cover;
                                                border-radius: 10px;
                                            }
                                        }
        
                                        .employe_checkin_time {
                                            width: 80%;
                                            .employe_checkin_date {
                                                font-size: 14px;
                                                font-weight: bold;
                                                word-break: break-word;
                                            }
        
                                            .employe_checkin_time_text {
                                                font-size: 13px;
                                                font-weight: 600;
                                                opacity: 0.8;
                                            }
                                        }
                                    }
                                }
        
                            }
                           
                            
                        }
                        .o_form_nosheet{
                            &.sh_check_in_form {
                                &:empty{
                                    padding: 0 !important;
                                    margin: 0 !important;
                                }
                            }
                        } 
                    }
                }
            }
        }
    } 
}
