:root{

    //section top bottom space//
    --sh-store-section-top-padding: 50px;
    --sh-store-section-bottom-padding: 50px;
   //section top bottom space//

    //heading//
    --sh-store-section-heading-font-color: #1e266d;
    --sh-store-section-heading-font-size: 34px;
    --sh-store-section-heading-font-weight: 600;
    --sh-store-section-heading-line-height: 1.3;
    --sh-store-section-heading-margin-bottom: 20px;
    --sh-store-section-heading-width-desktop: 70%;
    --sh-store-section-heading-width-mobile: 100%;
    --sh-section-heading-sub-title-font-color: #445781;
    --sh-section-heading-sub-title-font-size: 18px;
    --sh-section-heading-sub-title-font-weight: 400;
    --sh-section-heading-sub-title-line-height: 1.5;
    --sh-section-heading-sub-title-margin-bottom: 20px;
    //heading//

    //product card box //
    --sh-store-heading-title-font-size: 22px;
    --sh-store-heading-title-font-color:#1e266d;
    --sh-store-heading-title-font-weight: 600;
    --sh-store-heading-title-line-height: 1.3;
    --sh-store-heading-title-margin-bottom: 15px;
    --sh-store-price-text-font-size: 20px;
    --sh-store-price-text-font-color: #212240;
    --sh-store-price-text-font-weight: 600;
    --sh-store-price-text-line-height: 1.6;
    --sh-store-card-box-radius: 5px;
    //product card box //

    --sh-store-all-contant-font-color:#445781;
    --sh-section-background-color: rgba(8, 85, 254, 0.07);
    
    //banner//
    --sh-store-other-page-banner-content-h2:48px;
    --sh-store-other-page-banner-content-p:20px;
    --sh-store-other-page-banner-content-breadcrumb-font-size-tablet: 16px;
    --sh-store-other-page-banner-content-h2-color:#1e266d;
    --sh-store-other-page-banner-content-p-color:#445781;
    //banner//



    //sub text//
    --sh-store-normal-text-font-size: 18px;
    --sh-store-normal-text-font-color: #445781;
    --sh-store-normal-text-font-weight: 400;
    --sh-store-normal-text-line-height: 1.6;
    //sub text//

    // text-image form section//
    --sh-store-box-shadow: 0 20px 70px rgba(38,42,76,.2);
    --sh-store-common-box-shadow:0px 6px 20px 0px rgba(42, 57, 70, 0.08);
    --sh-store-common-border-radius: 10px;
    --sh-store-common-color:#212240;
    // text-image form section//

 
   //------------------ tablet view variables----------------------//
    --sh-store-section-heading-font-size-tablet: 28px !important;
    --sh-store-other-page-banner-content-h2-tablet: 30px !important;
    --sh-store-other-page-banner-content-text-tablet: 18px !important;
    --sh-store-other-page-banner-content-breadcrumb-font-size-tablet: 16px !important;
    --sh-store-normal-text-font-size-tablet: 16px !important;
    --sh-store-heading-sub-title-font-size-tablet: 16px !important;
    --sh-store-other-page-banner-content-p-tablet:18px;
    //------------------ tablet view variables----------------------//


    //------------------ mobile view variables----------------------//
    --sh-store-section-heading-font-size-mobile: 25px !important;
    --sh-store-other-page-banner-content-h2-mobile: 28px !important;
    --sh-store-other-page-banner-content-text-mobile: 15px !important;
    --sh-store-other-page-banner-content-breadcrumb-font-size-mobile: 15px !important;
    --sh-store-normal-text-font-size-mobile: 15px !important;
    --sh-sh-other-page-banner-content-h2-tablet: 30px !important;
    --sh-sh-other-page-banner-content-h2-mobile: 28px !important;


    
    //section top bottom space//
    --sh-store-section-top-padding-mobile: 30px;
    --sh-store-section-bottom-padding-mobile: 30px;
    //section top bottom space//
    //------------------ mobile view variables----------------------//

}

