#sh_germany_home_page_banner{
    position: relative; overflow: hidden; background: url('/theme_softhealer_website/static/src/img/germany_home_page/banner_1.webp'); background-position: center !important; background-repeat: no-repeat !important; background-size: cover !important; display: flex; align-items: center; text-transform: capitalize;
    height:600px; z-index: 1;
    @include media-breakpoint-down(lg){
        height:500px !important;
    }
    @include media-breakpoint-down(md){
        height:500px !important;
    }
    &:before{
        content: ''; position:absolute; top:0; left:0; height:100%; width:100%; background: #040433; opacity:0.5;
    }
    h1.sh_heading_text{
        color:#fff;font-size: 45px;font-weight: var(--sh-section-heading-font-weight);line-height: var(--sh-section-heading-line-height);margin-bottom: var(--sh-section-heading-margin-bottom); width:50%;
        @include media-breakpoint-down(xl) {
            width:65%; font-size: 48px;
         }
        @include media-breakpoint-only(md) {
            font-size: var(--sh-section-heading-font-size-tablet);
        }
       
       
        @include media-breakpoint-down(lg) {
           width:70%; font-size: 39px;
        }
        @include media-breakpoint-down(md) {
           width:auto; font-size: 32px;
        }
    }
    p.sh_text{
        font-size: 16px;font-weight: var(--sh-website-normal-text-font-weight);color:#fff;line-height: var(--sh-website-normal-text-line-height); width:50%; margin-bottom: 0;
        
        @include media-breakpoint-down(lg){
            width:100%;
        }  
    }
    .sh_btn_group{
        .sh_call_action_button {
            margin-top:40px;
            @include media-breakpoint-down(md){
                flex-direction: column;
            }
            .btn {  
                @include sh_primary_button;
                span {
                    display: flex;align-items: center;
                    svg {
                        stroke: #fff;display: inline-block;width: 30px; padding-right:5px;height: 30px;
                    }
                }
                &:first-child{
                    margin-right: 15px;
                    @include media-breakpoint-down(md){
                        margin-bottom: 15px; margin-right: 0;
                    }
                }
            }
           
        }
    }
    .sh_circle{
        position: absolute; top:0; right:0; height:400px; width:400px; 
        @include media-breakpoint-down(md){
            display:none;
        }
        .sh_circle_1{
            position: absolute; height:400px; width:400px; top:150px; left:100px;
            .sh_circle_outer_1{
                position: relative; height:100%; width:100%;
                .circle-border{
                     top: 0; left: 0;width: 100%;height: 100%; border: 1px solid #FFFFFF80 !important;border-radius: 50%;

                }
                .particles{
                    position: absolute; top: 0;left: 0; width: 100%; height: 100%;animation: rotate 15s linear infinite;
                    span{
                        position: absolute; width: 8px;height: 8px;background: #fff; border-radius: 50%;display: block;
                        &:nth-child(1){
                            top: -4px;left: 50%;transform: translateX(-50%);
                        }
                        &:nth-child(2){
                            top: 50%; right: -4px;transform: translateY(-50%);
                        }
                        &:nth-child(3){
                            bottom: -4px;left: 50%;transform: translateX(-50%);
                        }
                        &:nth-child(4){
                            top: 50%;left: -4px;transform: translateY(-50%);
                        }
                        
                    }
                }
                @keyframes rotate {
                    0% {
                        transform: rotate(0);
                    }
                    100% {
                        transform: rotate(360deg);
                    }
                }
            }
        }
        .sh_circle-2{
            position: absolute; height:400px; width:400px; top:57px; left:220px;
            .sh_circle_outer{
                position: relative; height:100%; width:100%;
                .circle-border{
                     top: 0; left: 0;width: 100%;height: 100%; border: 1px solid #FFFFFF80 !important;border-radius: 50%;

                }
                .particles{
                    position: absolute; top: 0;left: 0; width: 100%; height: 100%;animation: rotate 15s linear infinite;
                    span{
                        position: absolute; width: 8px;height: 8px;background: #fff; border-radius: 50%;display: block;
                        &:nth-child(1){
                            top: -4px;left: 50%;transform: translateX(-50%);
                        }
                        &:nth-child(2){
                            top: 50%; right: -4px;transform: translateY(-50%);
                        }
                        &:nth-child(3){
                            bottom: -4px;left: 50%;transform: translateX(-50%);
                        }
                        &:nth-child(4){
                            top: 50%;left: -4px;transform: translateY(-50%);
                        }
                        
                    }
                }
                @keyframes rotate {
                    0% {
                        transform: rotate(0);
                    }
                    100% {
                        transform: rotate(360deg);
                    }
                }
            }
        }
    }

}




#sh_germany_homepage_icon_section{
    padding: 40px 0;
    @include media-breakpoint-down(sm){
        padding: 25px 0px;
    }
    .sh_uae_homepage_logo_main_div{
        display: flex;
        justify-content: center;
        .sh_uae_homepage_img{
            object-fit: contain; display: inline-block;position: relative; padding: 10px;perspective: 153px; width: 100%; height: 70px;transform-style: preserve-3d;
            @include media-breakpoint-down(sm){
                margin-top: 20px;
            }
            img{
                display: block;width: auto;  margin: 0 auto;backface-visibility: hidden;position: absolute; top: 50%; left: 50%; transition: transform .8s;  filter: grayscale(100%);
                width: 120px;
                height: 120px;
                &:first-child{
                    transition: transform .8s;  filter: grayscale(100%) !important;
                    transform: translate(-50%, -50%) rotateX(0) !important;
                } 
                &:last-child{
                    filter: grayscale(0%);
                    transform: translate(-50%, -50%) rotateX(180deg) !important;transition: transform .8s;
                }
            }
            &:hover{
                img{
                    &:first-child{
                        transform: translate(-50%, -50%) rotateX(180deg) !important;
                    }
                    &:last-child{
                        transform: translate(-50%, -50%) rotateX(0) !important;
                    }
                }
            }
           
        }
       
    }
    .row{
        @include media-breakpoint-down(lg){
            justify-content: center;
        }
    }
    .col-xl-3.col-lg-3{
        width:20%;
        @include media-breakpoint-down(lg){
            width:33.33%; margin-bottom: 20px;
        }
        @include media-breakpoint-down(sm){
            width:50%;
        }
    }
}



#germany_page_service_section{
    padding-top: var(--sh-section-top-padding);padding-bottom:100px;
    background-image: linear-gradient(180deg, #DBE6FC 0%, #FFFFFF 100%);
    margin: 0px 0px; margin-bottom: 0px;
    @include media-breakpoint-down(lg) {
        padding-top: var(--sh-section-top-padding-mobile);padding-bottom: var(--sh-section-bottom-padding-mobile);  margin-bottom: 0; padding-bottom: 50px;
    }
    @include media-breakpoint-down(md){
        padding-bottom: 50px;
    }
    .sh_header_box{
        display: flex; align-items: center; gap: 20px;
        flex-direction: column;
        @include media-breakpoint-down(lg){
            align-items: center;
            gap: 20px;
            flex-direction: column;
        }
        .sh_left{
            .sh_left_content{
                padding: 10px 30px; border-radius: 5px; color:#fff; background: #1e266d; font-weight: 600;
            }
        }
        .sh_center{
            .sh_center_content{
                .sh_heading_text{
                    color: var(--sh-section-heading-font-color);font-size: var(--sh-section-heading-font-size);font-weight: var(--sh-section-heading-font-weight);line-height: var(--sh-section-heading-line-height);margin-bottom:0;
                    @include media-breakpoint-only(md){
                        font-size: var(--sh-section-heading-font-size-tablet);
                    }
                    @include media-breakpoint-down(md) {
                        font-size: var(--sh-section-heading-font-size-mobile);
                    }
                }
            }
        }
        
    }
    .sh_uae_service_slider{
        position: relative;
            .sh_card{
                height:480px; margin-top: 50px; padding:30px 20px 35px 20px; background:#fff; border-radius: 10px; border:1px solid #c8c8c8; transition: all .3s linear 0ms;
               
               @include media-breakpoint-only(xl){
                height:510px;
               }
               @include media-breakpoint-down(xl){
                height:400px;
               }
               @include media-breakpoint-down(lg){
                height:auto;
               }
               @include media-breakpoint-between(sm, md){
                height:auto;
               }
               
                @include media-breakpoint-down(sm){
                    height:auto;
                }
                .sh_card_header{
                    display:flex; align-items: center; justify-content: space-between; margin-bottom: 10px;
                    .sh_icon{
                       svg{
                            transition: all .3s linear 0ms; width:50px;
                            .cls-2{
                                fill:#1e266d !important;
                            }
                        }
                    }
                }
                .sh_card_body{
                    .sh_title{
                        font-size: var(--sh-website-heading-title-font-size);text-decoration: none; pointer-events: none; 
                        color: var(--sh-section-heading-font-color);text-decoration:none;font-size: var(--sh-website-heading-title-font-size);text-transform: capitalize; font-weight: var(--sh-section-heading-font-weight); margin-bottom: 15px;
                        @include media-breakpoint-only(xl){
                           font-size: 20px;
                           }
                           @include media-breakpoint-between(md, xl){
                            min-height:70px; 
                           }
                    }
                    .sh_text{
                        font-size: 16px;font-weight: var(--sh-website-normal-text-font-weight);color: var(--sh-website-normal-text-font-color);line-height: var(--sh-website-normal-text-line-height); min-height:215px;
                        @include media-breakpoint-only(xl){
                            min-height:260px;
                           }
                           @include media-breakpoint-down(xl){
                            min-height:125px;
                           }
                           @include media-breakpoint-down(lg){
                            min-height:205px;
                           }
                           @include media-breakpoint-down(md){
                            min-height:180px;
                           }
                           @include media-breakpoint-between(sm, md){
                            min-height:100px;
                           }
                           @include media-breakpoint-down(sm){
                            min-height:120px;
                        }
                    }
                    .sh_divider{
                        position: relative; margin-top: 20px;
                        &:before{
                            content: "";position: absolute;bottom: 0;left: 0; right: auto; width: 100%; height: 1px; background-color: rgba(17, 17, 17, .149); transition: all 300ms linear 0ms;
                        }
                        &:after{
                            content: "";position: absolute;bottom: 0;left: auto;right: 0;width: 0%;height: 1px; background-color: #1e266d; transition: all 300ms linear 0ms;
                        }
                    }
                    .sh_btn{
                        margin-top:40px;
                        a{
                            text-decoration:none; font-size: 16px; color:#1e266d; cursor: pointer;
                            span{
                                margin-left:5px; font-size:16px;
                            }
                        }
                    }
                }
                &:hover{
                    transform: translateY(calc(20px * -1)); filter: drop-shadow(0 20px 17.5px rgba(8, 29, 82, .13)); border-color: transparent;
                  .sh_card_header{
                    .sh_icon{
                        svg{
                            transform: rotateY(360deg);
                        }
                    }
                    
                  }  
                  .sh_card_body{
                    .sh_divider{
                        &:before{
                            right: 0;left: auto; width: 0;
                        }
                        &:after{
                            left: 0;width: 100%;
                        }
                    }
                }
                }
            }
    }
    &.sh_new_bg_service{
        background-image: linear-gradient(360deg, #DBE6FC 0%, #FFFFFF 100%) !important;
        .sh_uae_service_slider{
            .sh_card{
               
                .sh_card_body{
                    .sh_title{
                        min-height:70px;
                        @include media-breakpoint-down(md){
                           min-height: auto;
                        }
                    }
                    .sh_text{
                        min-height:225px;
    
                    }
                }
            }
        }
       
    
    }
    
}





#germany_page_service_section_1{
    padding-top: var(--sh-section-top-padding);padding-bottom:100px;
    background-image: linear-gradient(180deg, #DBE6FC 0%, #FFFFFF 100%);
    margin: 0px 0px; margin-bottom: 0px;
    @include media-breakpoint-down(lg) {
        padding-top: var(--sh-section-top-padding-mobile);padding-bottom: var(--sh-section-bottom-padding-mobile);  margin-bottom: 0; padding-bottom: 50px;
    }
    @include media-breakpoint-down(md){
        padding-bottom: 50px;
    }
    .sh_header_box{
        display: flex; align-items: center; gap: 20px;
        flex-direction: column;
        @include media-breakpoint-down(lg){
            align-items: center;
            gap: 20px;
            flex-direction: column;
        }
        .sh_left{
            .sh_left_content{
                padding: 10px 30px; border-radius: 5px; color:#fff; background: #1e266d; font-weight: 600;
            }
        }
        .sh_center{
            .sh_center_content{
                .sh_heading_text{
                    color: var(--sh-section-heading-font-color);font-size: var(--sh-section-heading-font-size);font-weight: var(--sh-section-heading-font-weight);line-height: var(--sh-section-heading-line-height);margin-bottom:0;
                    @include media-breakpoint-only(md){
                        font-size: var(--sh-section-heading-font-size-tablet);
                    }
                    @include media-breakpoint-down(md) {
                        font-size: var(--sh-section-heading-font-size-mobile);
                    }
                }
            }
        }
        
    }
    .sh_uae_service_slider{
        position: relative;
            .sh_card{
                height:450px; margin-top: 50px; padding:30px 20px 35px 20px; background:#fff; border-radius: 10px; border:1px solid #c8c8c8; transition: all .3s linear 0ms;
               
               @include media-breakpoint-only(xl){
                height:510px;
               }
               @include media-breakpoint-down(xl){
                height:400px;
               }
               @include media-breakpoint-down(lg){
                height:auto;
               }
               @include media-breakpoint-between(sm, md){
                height:auto;
               }
               
                @include media-breakpoint-down(sm){
                    height:auto;
                }
                .sh_card_header{
                    display:flex; align-items: center; justify-content: space-between; margin-bottom: 10px;
                    .sh_icon{
                       svg{
                            transition: all .3s linear 0ms; width:50px;
                            .cls-2{
                                fill:#1e266d !important;
                            }
                        }
                    }
                }
                .sh_card_body{
                    .sh_title{
                        font-size: var(--sh-website-heading-title-font-size);text-decoration: none; pointer-events: none; min-height:70px;
                        color: var(--sh-section-heading-font-color);text-decoration:none;font-size: var(--sh-website-heading-title-font-size);text-transform: capitalize; font-weight: var(--sh-section-heading-font-weight); margin-bottom: 15px;
                        @include media-breakpoint-only(xl){
                           font-size: 20px;
                           }
                           @include media-breakpoint-down(md){
                            min-height:auto ; 
                           }
                    }
                    .sh_text{
                        font-size: 16px;font-weight: var(--sh-website-normal-text-font-weight);color: var(--sh-website-normal-text-font-color);line-height: var(--sh-website-normal-text-line-height); min-height:175px;
                        @include media-breakpoint-only(xl){
                            min-height:260px;
                           }
                           @include media-breakpoint-down(xl){
                            min-height:125px;
                           }
                           @include media-breakpoint-down(lg){
                            min-height:150px;
                           }
                           @include media-breakpoint-down(md){
                            min-height:150px;
                           }
                           @include media-breakpoint-between(sm, md){
                            min-height:100px;
                           }
                           @include media-breakpoint-down(sm){
                            min-height:120px;
                        }
                    }
                    .sh_divider{
                        position: relative; margin-top: 20px;
                        &:before{
                            content: "";position: absolute;bottom: 0;left: 0; right: auto; width: 100%; height: 1px; background-color: rgba(17, 17, 17, .149); transition: all 300ms linear 0ms;
                        }
                        &:after{
                            content: "";position: absolute;bottom: 0;left: auto;right: 0;width: 0%;height: 1px; background-color: #1e266d; transition: all 300ms linear 0ms;
                        }
                    }
                    .sh_btn{
                        margin-top:40px;
                        a{
                            text-decoration:none; font-size: 16px; color:#1e266d; cursor: pointer;
                            span{
                                margin-left:5px; font-size:16px;
                            }
                        }
                    }
                }
                &:hover{
                    transform: translateY(calc(20px * -1)); filter: drop-shadow(0 20px 17.5px rgba(8, 29, 82, .13)); border-color: transparent;
                  .sh_card_header{
                    .sh_icon{
                        svg{
                            transform: rotateY(360deg);
                        }
                    }
                    
                  }  
                  .sh_card_body{
                    .sh_divider{
                        &:before{
                            right: 0;left: auto; width: 0;
                        }
                        &:after{
                            left: 0;width: 100%;
                        }
                    }
                }
                }
            }
    }
    .sh_heading_text{
        color:var(--sh-section-heading-font-color);font-size: var(--sh-section-heading-font-size);font-weight: var(--sh-section-heading-font-weight);line-height: var(--sh-section-heading-line-height);margin-bottom:15px; text-align: center;
        @include media-breakpoint-only(md){
            font-size: var(--sh-section-heading-font-size-tablet);
        }
        @include media-breakpoint-down(md) {
            font-size: var(--sh-section-heading-font-size-mobile);
        }  
    }
    p.sh_text{
        font-size: 16px;font-weight: var(--sh-website-normal-text-font-weight);color:var(--sh-website-normal-text-font-color);line-height: var(--sh-website-normal-text-line-height); width:60%;  text-align: center; margin:0px auto; margin-bottom: 20px;
        
        @include media-breakpoint-down(lg){
            width:100%; 
        }
    }
}


#sh_why_chooes_us_box_section{
    padding-top: 0;padding-bottom:var(--sh-section-bottom-padding); position: relative; overflow: hidden; background: #fff; margin: 50px 0px;
        @include media-breakpoint-down(md){
            padding: 20px; margin-top:30px; margin-bottom: 30px;
        }
        .sh_image_box{
            height:500px; width:100%; border-radius: 10px; position: relative;
            img{
                height:100%; width:100%; border-radius: 10px; object-fit: cover;
            }
            .sh_header_desc_box{
                position: absolute; top:0; right:0;background-color: #FFFFFF; border-bottom-left-radius: 10px; width:500px;
                padding: 19px 40px 42px 60px;  color: var(--sh-section-heading-font-color);font-size: var(--sh-section-heading-font-size);font-weight: var(--sh-section-heading-font-weight);line-height: var(--sh-section-heading-line-height);margin-bottom:0;
                @include media-breakpoint-down(xl){
                    width: 450px;
                    padding: 19px 30px 30px 50px;
                }
                @include media-breakpoint-only(md){
                    font-size: var(--sh-section-heading-font-size-tablet);
                }
                @include media-breakpoint-down(md) {
                    font-size: var(--sh-section-heading-font-size-mobile); width:100%; padding: 20px 0px; border-bottom-left-radius: 0;
                }
                
            }
        }
        .sh_desc_box{
            margin-top: 50px;
            @include media-breakpoint-down(lg) {
                margin-top: 30px;
            }
           
            .sh_box{
               position: relative;
              
               @include media-breakpoint-down(xl){
                display:flex; align-items: center; gap:20px; margin-bottom: 30px;
               }
               &:before{
                position: absolute;top: 50%;right: -10px; width: 2px; height: 119px;background-color: #cdcdcd;transform: translateY(-50%); content:'';
                @include media-breakpoint-down(xl){
                    display:none;
                }
               }
               img{
                width: 250px;
                height: auto;
                text-align: left;
                object-fit: cover;
                object-position: -40px;
                @include media-breakpoint-down(xxl){
                    object-position: -60px;
                }
               }
               
            }
        }
        .sh_center_text{
            color: var(--sh-website-normal-text-font-color);font-size:16px;line-height: var(--sh-website-normal-text-line-height);margin-bottom: 0px;text-align:left;margin: auto;
            @include media-breakpoint-only(md){
                font-size:16px; margin-top: 0;
            }
            @include media-breakpoint-down(md){
                font-size:16px;width: 100%; margin-top: 0;
            }
        }
            .sh_call_action_button {
                @include media-breakpoint-down(md){
                    flex-direction: column;
                }
                @include media-breakpoint-down(xl){
                    margin-top:20px;
                }
                .btn {  
                    @include sh_primary_button;
                    span {
                        display: flex;align-items: center;
                        svg {
                            stroke: #fff;display: inline-block;width: 30px; padding-right:5px;height: 30px;
                        }
                    }
                }
               
            }
       
}




#sh_whychooes_us_softhealer_germany_page_section{
    padding-top: 100px;padding-bottom:100px; position: relative;
    background:#0e2565;
    @include media-breakpoint-down(lg){
        padding: 70px 0px;
    }
    @include media-breakpoint-down(md){
        padding: 50px 0px;
    }
    .sh_rain_drop{
        position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; min-height: 400px; display: flex; align-items: center;justify-content: space-evenly;
        .sh_rain_drop-item{
            position: relative;height: 100%; min-height: 400px;width: 1px; background-color: rgba(255, 255, 255, 0.15);
            &::before{
                content: ""; position: absolute; top: 0px; left: -100%; width: 3px;height: 80px;border-radius: 1px;background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #fff 100%); animation: 3s linear infinite sh_rain_drop;
            }
            @keyframes sh_rain_drop {
                
                0% {
                    top: 0px;
                    opacity: 0;
                }
                10% {
                    opacity: 1;
                }
                80% {
                    opacity: 1;
                }
                100% {
                    top: calc(100% - 20px);
                    opacity: 0;
                } 
            }
        }
    }
   
    .sh_slider_box{
        margin-top: 0px; position: relative;
                .sh_heading_text{
                    color:#fff;font-size: var(--sh-section-heading-font-size);font-weight: var(--sh-section-heading-font-weight);line-height: var(--sh-section-heading-line-height); margin-bottom:     0px; text-align: center    ;
                    @include media-breakpoint-only(md){
                        font-size: var(--sh-section-heading-font-size-tablet);
                    }
                    @include media-breakpoint-down(md) {
                        font-size: var(--sh-section-heading-font-size-mobile); width:100%; padding: 20px 0px; border-bottom-left-radius: 0; margin-bottom: 0;
                    }  
                }
                .sh_item_box{
                    display: flex; align-items: center; flex-direction: column; justify-content: center; margin-top: 50px;
                    .sh_left{
                        .sh_icon{
                            svg{
                                width: 36px;
                                .cls-2{
                                    fill:#fff !important;
                                }
                            }
                        }
                    }
                    .sh_right{
                        text-align: center;
                        .sh_heading_title{
                            pointer-events: none;color:#fff;font-size:21px;text-transform: capitalize;font-weight: var(--sh-section-heading-font-weight);margin-bottom: 15px;text-decoration: none;
                            @include media-breakpoint-only(xl){
                                min-height:60px;
                            }
                        }
                        .sh_desc_text{
                            font-size: 16px;font-weight: var(--sh-website-normal-text-font-weight);color:#ffffffb8;line-height: var(--sh-website-normal-text-line-height);
                        }
                    }
        }
    }
    
}


#sh_why_selcet_odoo_section{
    padding-top: var(--sh-section-top-padding);padding-bottom:var(--sh-section-bottom-padding); position: relative; overflow: hidden; background: #fff;
.sh_image_box{
    height:600px; width:100%; border-radius: 10px;
    img{
        height:100%; width:100%; border-radius: 10px; object-fit: cover;
        @include media-breakpoint-down(md){
            object-position: bottom;
        }
    }
    @include media-breakpoint-down(xl){
        height:500px;
    }
    @include media-breakpoint-down(md){
        height:400px;
    }
}
.sh_right_side_box{
    padding: 76px 15px 50px 62px;
    @include media-breakpoint-only (xl){
        padding: 76px 0px 50px 0px;
    }
    @include media-breakpoint-down (xl){
       padding:50px 5px;
    }
    @include media-breakpoint-down (lg){
        padding: 50px 0px 50px 0px;
    }
    @include media-breakpoint-down (md){
        padding: 30px 0px 30px 0px;
    }
    .sh_heading_title{
        color: var(--sh-section-heading-font-color);font-size: var(--sh-section-heading-font-size);font-weight: var(--sh-section-heading-font-weight);line-height: var(--sh-section-heading-line-height); margin-bottom: 20px;
        @include media-breakpoint-only(md){
            font-size: var(--sh-section-heading-font-size-tablet);
        }
        @include media-breakpoint-down(md) {
            font-size: var(--sh-section-heading-font-size-mobile); width:100%; padding: 20px 0px; border-bottom-left-radius: 0; margin-bottom: 0;
        }
    }
    .sh_right_desc_text{
        color: var(--sh-website-normal-text-font-color);font-size: 16px;line-height: var(--sh-website-normal-text-line-height);text-align: left;margin: auto;
    }
    .sh_key_features_box{
        margin-top: 30px;
        @include media-breakpoint-down(md){
            margin-top: 15px;
        }
        .sh_box{
            display: flex; align-items: center; gap:15px; margin-top: 20px;
            .sh_icon{
                svg{
                    width:30px; fill:#1e266d !important;
                    .cls-2{
                        fill:#1e266d !important;
                    }
                }
            }
            .sh_text{
                color: var(--sh-website-normal-text-font-color);font-size: 16px;line-height: var(--sh-website-normal-text-line-height);text-align: left;
                @include media-breakpoint-only(lg){
                    font-size: 15px;
                }
            }
        }
    }
}
}

#sh_industries_served_section{
    background-image: linear-gradient(180deg, #DBE6FC 0%, #FFFFFF 100%); padding-bottom: var(--sh-section-bottom-padding);padding-top: var(--sh-section-top-padding);
    .sh_heading_text{
        color: var(--sh-section-heading-font-color);font-size: var(--sh-section-heading-font-size);font-weight: var(--sh-section-heading-font-weight);line-height: var(--sh-section-heading-line-height);width: var(--sh-section-heading-width-desktop);margin: auto;margin-bottom: var(--sh-section-heading-margin-bottom); text-align: center;
        @include media-breakpoint-only(md){
            font-size: var(--sh-section-heading-font-size-tablet);
        }
        @include media-breakpoint-down(md) {
            width: auto;font-size: var(--sh-section-heading-font-size-mobile);
        }
    }
    p.sh_text{
        color: var(--sh-website-normal-text-font-color);font-size: 16px;line-height: var(--sh-website-normal-text-line-height);text-align: center;margin: auto;  
    }
    .sh_industries_box{
        display:flex; align-items: center; flex-wrap: wrap; gap:20px; justify-content: center; margin: 50px 0px;
        .sh_industries{
            height: 65px;border-radius: 32px; background-color: #fff; border: 1px solid #dcdcdc;display: inline-flex; align-items: center; gap: 16px;padding: 0 35px 0 7px; transition: all .3s linear 0s;
            .sh_img{
                position: relative; overflow: hidden;width: 52px;height: 52px; border-radius: 26px; background: #564cb61f; transition: all .3s linear 0s;
                display: flex;justify-content: center; align-items: center;
                svg{
                    width:35px;
                    .cls-2{
                        fill:#1e266d !important; transition: all .3s linear 0s;
                    }
                }
            }
            .sh_content{
                font-size: 17px;letter-spacing: 0;line-height: 26px; color:#1e266d;
            }
            &:hover{
                background-color: #564cb633;
                border: 1px solid #564cb633;
                .sh_img{
                   background: #1e266d;
                   svg{
                    fill:#fff !important;
                    .cls-2{
                        fill:#fff  !important;
                    }
                   }
                }
            }
        }
        
    }
    
}




#sh_contact_form_uae_homepage{
    margin:0px 0px;  padding-top: 100px;padding-bottom:0px; position: relative;
    @include media-breakpoint-down(lg){
        padding-bottom: 50px;
    }
    background:#1e266d;
    .sh_heading_text{
        color: #FFFFFF;font-size: var(--sh-section-heading-font-size);font-weight: var(--sh-section-heading-font-weight);line-height: var(--sh-section-heading-line-height);width: var(--sh-section-heading-width-desktop);margin: auto;margin-bottom: var(--sh-section-heading-margin-bottom); text-align: center;
        @include media-breakpoint-only(md){
            font-size: var(--sh-section-heading-font-size-tablet);
        }
        @include media-breakpoint-down(md) {
            width: auto;font-size: var(--sh-section-heading-font-size-mobile);
        }
    }
    p.sh_text{
        font-size: 16px;font-weight: var(--sh-website-normal-text-font-weight);color: #fff;line-height: var(--sh-website-normal-text-line-height); text-align: center; width:80%; margin:auto;

    }
    .sh_image_box{
        position: relative;
        height:390px; margin-top: 50px;
    .sh_image{
       position: absolute;top: 0;left: 50%;transform: translateX(-50%); width: 600px;height: 100%;background-image: url("/theme_softhealer_website/static/src/img/images/uae_homepage/global.webp");background-size: cover;
       @include media-breakpoint-down(md){
            width:400px;
        }
        .sh_loc_1{
            position: absolute;height: 60px;filter: drop-shadow(rgba(255, 255, 255, 0.35) 0px 4px 9px);background-color: rgb(255, 255, 255);display: flex;align-items: center;justify-content: center;border-radius: 8px;padding: 0px 34px;transition: 0.4s cubic-bezier(0.4, 0, 0.2, 1);overflow: hidden;top:10%;left:45%;
            span.fa{
                font-size: 20px; color:#1e266d; margin-right: 10px; transition: 0.4s;
            }
            span.text{
                font-size: 16px; color:#1e266d; font-weight:500;
            }
            &:hover{
                transform: translateY(-5px) !important;
                box-shadow: rgba(0, 186, 0, 0.15) 0px 10px 20px;
                span.fa{
                    transform: rotate(360deg) !important;
                }
            }
           
            @include media-breakpoint-down(md){
                top: 10%;
                left: 20%;
            }
            @include media-breakpoint-between(sm, md){
                top: 10%;
                left: 25%;
                padding: 0px 15px;
            }
        }
        .sh_loc_2{
            position: absolute;height: 60px;filter: drop-shadow(rgba(255, 255, 255, 0.35) 0px 4px 9px);background-color: rgb(255, 255, 255);display: flex;align-items: center;justify-content: center;border-radius: 8px;padding: 0px 34px;transition: 0.4s cubic-bezier(0.4, 0, 0.2, 1);overflow: hidden;top:40%;left:0;
            span.fa{
                font-size: 20px; color:#1e266d; margin-right: 10px; transition: 0.4s;
            }
            span.text{
                font-size: 16px; color:#1e266d; font-weight:500;
            }
            &:hover{
                transform: translateY(-5px) !important;
                box-shadow: rgba(0, 186, 0, 0.15) 0px 10px 20px;
                span.fa{
                    transform: rotate(360deg) !important;
                }
            }
           
            @include media-breakpoint-down(md){
                top: 30%;
                left: 12%;
            }
            @include media-breakpoint-between(sm, md){
                top: 30%;
                left: 20%;
                padding: 0px 15px;
            }
        }
        .sh_loc_3{
            position: absolute;height: 60px;filter: drop-shadow(rgba(255, 255, 255, 0.35) 0px 4px 9px);background-color: rgb(255, 255, 255);display: flex;align-items: center;justify-content: center;border-radius: 8px;padding: 0px 34px;transition: 0.4s cubic-bezier(0.4, 0, 0.2, 1);overflow: hidden;top:65%;right:0;
            span.fa{
                font-size: 20px; color:#1e266d; margin-right: 10px; transition: 0.4s;
            }
            span.text{
                font-size: 16px; color:#1e266d; font-weight:500;
            }
            &:hover{
                transform: translateY(-5px) !important;
                box-shadow: rgba(0, 186, 0, 0.15) 0px 10px 20px;
                span.fa{
                    transform: rotate(360deg) !important;
                }
            }
            
            @include media-breakpoint-down(md){
                top: 50%;
                right: 15%;
            }
            @include media-breakpoint-between(sm, md){
                top: 50%;
                right: 20%;
                padding: 0px 15px;
            }
            
        }
        .sh_loc_4{
            position: absolute;height: 60px;filter: drop-shadow(rgba(255, 255, 255, 0.35) 0px 4px 9px);background-color: rgb(255, 255, 255);display: flex;align-items: center;justify-content: center;border-radius: 8px;padding: 0px 34px;transition: 0.4s cubic-bezier(0.4, 0, 0.2, 1);overflow: hidden;top:80%;left:0;
            span.fa{
                font-size: 20px; color:#1e266d; margin-right: 10px; transition: 0.4s;
            }
            span.text{
                font-size: 16px; color:#1e266d; font-weight:500;
            }
            &:hover{
                transform: translateY(-5px) !important;
                box-shadow: rgba(0, 186, 0, 0.15) 0px 10px 20px;
                span.fa{
                    transform: rotate(360deg) !important;
                }
            }
            
            @include media-breakpoint-down(md){
                top: 70%;
                left: 25%;
            }
            @include media-breakpoint-between(sm, md){
                top: 70%;
                left: 32%;
                padding: 0px 15px;
            }
        }
    }
}
.sh_form_box {
    padding: 30px;
    box-shadow: 0 10px 35px rgba(38, 42, 76, 0.1);
    border-radius: var(--sh-website-common-border-radius);
    background: #fff;
    @include media-breakpoint-down(lg){
        margin-top:50px;
    }
    h3{
        font-size: 25px;
        font-weight: var(--sh-website-heading-title-font-weight);
        color: var(--sh-website-heading-title-font-color);
        margin-bottom: var(--sh-website-heading-title-margin-bottom);
        text-transform: capitalize;
        text-align: center;
        margin-bottom: 30px;
       }
    .sh_input_group {
        position: relative;
        margin-bottom: 1.8rem !important;
    }

    form {
        label {
            display: block;
            line-height: initial;
            color: rgba(0, 40, 78, 0.5);
            font-size: 16px;
            margin-bottom: 7px;
        }

        input {
            font-size: 18px;
            width: 100%;
            height: 60px;
            border: 1px solid rgba(0, 40, 78, 0.15);
            border-radius: 8px;
            padding: 0 20px;
            outline: none !important;
        }

        textarea {
            font-size: 18px;
            width: 100%;
            max-width: 100%;
            height: 190px;
            max-height: 190px;
            border: 1px solid rgba(0, 40, 78, 0.15);
            border-radius: 8px;
            padding: 10px 20px;
            outline: none !important;
        }

        .sh_btn {
            background: #1c3360;
            border-radius: 5px;
            color: #fff;
            font-size: 17px;
            line-height: 48px;
            padding: 0 40px;
            position: relative;
            transition: all .3s ease-in-out;
            z-index: 1;
            border: none;

            &:hover {
                background: rgba(28, 51, 96, 0.84);
            }

            &:focus {
                outline: none !important;
            }
        }

        .sh_hover_btn {
            &:hover {
                &:before {
                    opacity: 0;
                    -webkit-transform: scale(1);
                    transform: scale(1);
                    transition: all .5s ease-in-out;
                }
            }

            &:before {
                background: hsla(0, 0%, 100%, .5);
                border-radius: 50%;
                content: "";
                height: 100px;
                left: 50%;
                margin: -50px 0 0 -50px;
                position: absolute;
                top: 50%;
                -webkit-transform: scale(0);
                transform: scale(0);
                width: 100px;
            }
        }
    }
}

}










#sh_uae_homepage_testimonial{
    padding-top: var(--sh-section-top-padding);padding-bottom:var(--sh-section-bottom-padding); position: relative; overflow: hidden; background: #fff; margin: 30px 0px;
    .sh_img{
        height:600px; width:95%; border-radius: 10px;
        img{
            height:100%; width:100%; border-radius: 10px; object-fit: cover;
        }
        @include media-breakpoint-down(lg){
            height:500px; width:100%; margin-bottom: 30px;
        }
        @include media-breakpoint-down(md){
            height:400px;
        }
    }
    .sh_sub_text{
        color: rgb(255, 255, 255);font-weight: 600;padding: 10px 30px;border-radius: 5px;background: rgb(30, 38, 109); width:fit-content; margin-bottom: 20px;
    }
    .sh_heading_text{
        color: var(--sh-section-heading-font-color);font-size: var(--sh-section-heading-font-size);font-weight: var(--sh-section-heading-font-weight);line-height: var(--sh-section-heading-line-height);margin-bottom:20px; text-transform: capitalize;
        @include media-breakpoint-only(md){
            font-size: var(--sh-section-heading-font-size-tablet);
        }
        @include media-breakpoint-down(md) {
            font-size: var(--sh-section-heading-font-size-mobile);
        }
    }
    .sh_heading_desc{
        font-size: 16px;font-weight: var(--sh-website-normal-text-font-weight);color:var(--sh-website-normal-text-font-color);line-height: var(--sh-website-normal-text-line-height);
    }
    .carousel{
        margin-top: 50px;
        @include media-breakpoint-down(xl){
            margin-top: 30px;
        }
        .carousel-inner{
            .carousel-item{
                .sh_customer_review_text_box{
                    padding: 50px 86px 50px 52px; font-size: 16px;font-weight: var(--sh-website-normal-text-font-weight);color:var(--sh-website-normal-text-font-color);line-height: var(--sh-website-normal-text-line-height);
                    border-radius: 10px;background-color: rgba(229, 237, 253, .749); position: relative;
                    &::before{
                        content: "";position: absolute;width: 0; height: 0;border-left: 28px solid transparent;border-right: 0;border-top: 28px solid rgba(229, 237, 253, .749); bottom: -25px;left: 55px;
                    }
                    @include media-breakpoint-down(xl){
                        padding: 50px; height:230px;
                    }
                    @include media-breakpoint-down(sm){
                        height:290px; padding: 25px;
                    }
                }
                .sh_cusomer_information_box{
                    margin-top: 30px; padding-left: 70px; display:flex; align-items: center; gap:20px;
                    .sh_img{
                        height:50px; width:50px; border-radius: 100%; margin-bottom: 0;
                        img{
                            height:100%; width:100%;
                        }
                    }
                    .sh_right{
                        position: relative;
                        .sh_name{
                            font-size:18px; color:#1e266d; font-weight: 600; margin-bottom: 0px;
                        }
                        .sh_star{
                            span{font-size:16px; color:#fdbb34;}
                        }
                    }
                    @include media-breakpoint-down(md){
                        padding-left: 10px; 
                    }
                }
            }
            @include media-breakpoint-between (sm, md){
                min-height:290px !important;
            }
           
        }
        .carousel-control-prev{
            right:30px; left:auto; top:auto; bottom:30px;padding: 0;color: #000;text-align: center;background: none;border: 0;opacity: 1;transition: opacity 0.15s ease; height:50px; width:50px; margin-right:10px;
            span{
                font-size: 20px; color:#1e266d; background: none !important;
            }
            @include media-breakpoint-down(xl){
                bottom:0;
            }
            @include media-breakpoint-down(lg){
                bottom: -55px;
                right: 0;
                left: 45%;
                top: auto;
            }
            @include media-breakpoint-down(md){
                left:43%;
            }
            
        }
        .carousel-control-next{
            right:0px; top:auto; bottom:30px;padding: 0;color: #000;text-align: center;background: none;border: 0;opacity:1;transition: opacity 0.15s ease; height:50px; width:50px;
            span{
                font-size: 20px; color:#1e266d; background: none !important;
            }
            @include media-breakpoint-down(xl){
                bottom:0;
            }
            @include media-breakpoint-down(lg){
                bottom: -55px;
                right: 0;
                left: 50%;
                top: auto;
            }
           
        }
    }
}







#sh_odoo_ourselves_field_section{
    padding:0px 0px; position: relative; overflow: hidden; background: #fff;
    @include media-breakpoint-down(lg){
        padding-top: 30px;
    }
    .sh_heading_text{
        color:var(--sh-section-heading-font-color);font-size: var(--sh-section-heading-font-size);font-weight: var(--sh-section-heading-font-weight);line-height: var(--sh-section-heading-line-height);margin-bottom:15px; text-align: center;
        @include media-breakpoint-only(md){
            font-size: var(--sh-section-heading-font-size-tablet);
        }
        @include media-breakpoint-down(md) {
            font-size: var(--sh-section-heading-font-size-mobile);
        }  
    }
    p.sh_text{
        font-size: 16px;font-weight: var(--sh-website-normal-text-font-weight);color:var(--sh-website-normal-text-font-color);line-height: var(--sh-website-normal-text-line-height); width:100%; margin-bottom: 0; text-align: center;
        
        @include media-breakpoint-down(lg){
            width:100%;
        }
    }
    .sh_certificate_box{
        display:flex; align-items: center; gap:20px; justify-content: center; flex-wrap: wrap; margin-top: 30px;
        .box1{
            img{
                height:100px; width:100px; object-fit: contain;
                @include media-breakpoint-down(mg){
                    height:88px; width:80px;
                }
            }
        }
    }
}






#sh_germany_why_odoo_service_select_section{
    padding:0px 0px 0px; position: relative; overflow: hidden; background-image: linear-gradient(180deg, #1e266d 0%, #2430a4 100%);
    @include media-breakpoint-down(md){
        padding: 50px 0px;
    }
    .sh_img{
        height:350px; width:100%;
        img{
            height:100%; width:100%; object-fit:contain;
            @include media-breakpoint-down(md){
                object-fit: contain;
            }
        }
        @include media-breakpoint-only(md){
            height:260px;
        }
        @include media-breakpoint-down(md){
            height:350px; margin-bottom: 30px;
        }
    }
    .sh_heading_text{
        color: #fff;font-size: var(--sh-section-heading-font-size);font-weight: var(--sh-section-heading-font-weight);line-height: var(--sh-section-heading-line-height);margin-bottom:15px;
        @include media-breakpoint-only(md){
            font-size: var(--sh-section-heading-font-size-tablet);
        }
        @include media-breakpoint-down(md) {
            font-size: var(--sh-section-heading-font-size-mobile);
        }  
    }
    p.sh_text{
        font-size: 16px;font-weight: var(--sh-website-normal-text-font-weight);color:#fff;line-height: var(--sh-website-normal-text-line-height); width:70%; margin-bottom: 0;
        
        @include media-breakpoint-down(lg){
            width:100%;
        }
    }
}



.sh_new_partner_section{
    .sh-heading{ header {
        h2{
            text-transform: capitalize;
            @include media-breakpoint-down(lg){
                width:80%;
            }
            @include media-breakpoint-down(sm){
                width:90%;
            }
        }
    h6{
        width:50%; margin: 0px auto; font-size: 16px;
        @include media-breakpoint-down(lg){
            width:80%;
        }
        @include media-breakpoint-down(sm){
            width:90%;
        }
    }
    }
   
}
.carousel-wrap{
    .custom_partner_slider{
       
    .owl-dots{
        display:none !important;
    }
}
    }
}


//sh_jobs_call_to_action
#sh_germany_home_page_call_to_action {
    background: #fff;padding-top: var(--sh-section-top-padding);padding-bottom: var(--sh-section-bottom-padding);
    @include media-breakpoint-down(lg){
        padding-top: var(--sh-section-top-padding-mobile);padding-bottom: var(--sh-section-bottom-padding-mobile);
    }
    .sh_inner_section {
        padding: 80px 60px 80px;background-image: url("/theme_softhealer_website/static/src/img/images/solar_management/get_start_today.webp");background-position: 0 80%;background-repeat: no-repeat;background-size:cover;border-radius: 50px;text-align: center;position: relative;
        &::after{
        content: "";position: absolute;left: 0;top: 0;bottom: 0;right: 0;background:#212240db no-repeat padding-box;opacity: 1;visibility: visible;border-radius: 50px;}
        @include media-breakpoint-only(md){
            padding: 50px 30px 50px;
        }
        @include media-breakpoint-down(md) {
            padding: 40px 15px 40px;
        }
        .sh_heading {
            text-align: center;
            margin-bottom: 30px;position: relative;z-index: 1;
            @include media-breakpoint-down(xl){
                margin-bottom: 20px;
            }
            h2 {
                color:#fff;font-size: var(--sh-section-heading-font-size);font-weight: var(--sh-section-heading-font-weight);line-height: var(--sh-section-heading-line-height);margin-bottom: var(--sh-section-heading-margin-bottom);letter-spacing: 1.5px;text-transform: capitalize;
            @include media-breakpoint-only(md){
                font-size: var(--sh-section-heading-font-size-tablet);margin-bottom: 0px
            }
            @include media-breakpoint-down(md) {
                width: auto;font-size:22px !important;margin-bottom: 0px;
            }
            }
        }
        .sh_content_box{
            display:flex; color:#fff; position: relative; z-index:1; align-items: center; justify-content: center;
            @include media-breakpoint-down(md){
                flex-direction: column;
            }
        .sh_contact_detail{
           a{
            display:flex; align-items: center; justify-content: space-between; margin-right:30px;color:#fff; text-decoration:none;
            @include media-breakpoint-down(md){
                margin-right: 0;

            }
            .sh_icon{
                svg{width:40px; margin-right:10px;
                @include media-breakpoint-down(md){
                    width:30px;
                }
                }
            }
            .sh_text{
                font-size:20px;font-weight:600;
                @include media-breakpoint-only(md){
                    font-size:16px;
                }
                @include media-breakpoint-down(md){
                    font-size:15px;
                }
            }
        }
        
        }
        
        
        }
        a.btn{
            @include sh_primary_button; margin: 0px auto;  margin-top:30px;z-index:1; position: relative;
            @include media-breakpoint-down(md){
                margin-top:20px;
            }
            span{
                svg{
                    stroke: #fff;display: inline-block;width: 20px;
                }
            }
        }
    }
}
//sh_jobs_call_to_action