// start helpdesk management banner section // 
#sh_hotel_management_banner {
    @include sh_other_page_banner;
}
// end helpdesk management banner section // 
// start helpdesk management about section //
#sh_hotel_management_about{
    .sh_workflow_box{width:100%;text-align:center; margin-top:20px; position: relative;
        &:after{display: block;width: 81%;height: 1px;position: absolute;content: '';border-bottom: 1px solid rgba(125,125,125,0.25);top: 40px;left: 63%;
            @include media-breakpoint-down(xl){
               display:none;
            }
        }
        .sh_icon{
            height:80px;width:80px;background:#ebe6e6;border-radius:80px;display:flex;justify-content: center;align-items: center;margin:0px auto;margin-bottom:20px;position: relative;z-index:1;
            
            &:before{
                width: 100px;height: 100px;opacity: -1;margin-left: -50px;top: -10px;z-index:-1;transform: scale(0.6);left: 50%;border-radius: 50%;position: absolute;background:#ebe6e6;content: '';transition: 0.3s cubic-bezier(0.5,0.58,0.55,1);
            }
            &:hover:before{
                opacity: 0.3; transform:scale(1.2);
            }
            &:after{
                width: 85px;height: 85px;top: -3px;margin-left: -42px;background:#ebe6e6;content:'';border-radius: 50%;position: absolute;left: 50%;transition: 0.3s cubic-bezier(0.5,0.58,0.55,1); opacity:0; z-index:-1;
            }
            &:hover:after{
                opacity: 0.4;transform: scale(1.2);
            }
    
        svg{stroke:var(--sh-website-heading-title-font-color)  !important; height:45px; width:45px;
            .cls-2{
                fill:none;
            }
            .cls-1{
                fill:o-color(o-color-1);
            }
            
        }
        }
        .sh_box_desc{
            width:100%;
            h2.sh_box_title{
                font-size:var(--sh-website-heading-title-font-size);color:var(--sh-website-heading-title-font-color) ;font-weight:var(--sh-website-heading-title-font-weight);margin-bottom:var(--sh-website-heading-title-margin-bottom) ;line-height: var(--sh-website-heading-title-line-height);
            }
    
        }
    
    }
    .sh_workflow_box.box-1:after{display:none;}
}

// end hotel management about section  //


// start Laundry Overview section // 
.hotel_management_section {
    position: relative;padding-top: var(--sh-section-top-padding);padding-bottom: var(--sh-section-bottom-padding);background-color: #fff;
    @include media-breakpoint-down(lg) {
        padding-top: var(--sh-section-top-padding-mobile);padding-bottom: var(--sh-section-bottom-padding-mobile);
    }
    .hotel_management_main {
        .hotel_management_content {
            @include media-breakpoint-down(lg) {
                margin-bottom: 30px;
            }
            .hotel_management_title {
                font-size: var(--sh-section-heading-font-size);font-weight: var(--sh-section-heading-font-weight);line-height: var(--sh-section-heading-line-height);color: var(--sh-section-heading-font-color);margin-bottom: var(--sh-section-heading-margin-bottom);text-transform: capitalize;

                @include media-breakpoint-only(md) {
                    font-size: var(--sh-section-heading-font-size-tablet);line-height: var(--sh-section-heading-line-height);margin-bottom: var(--sh-section-heading-margin-bottom);
                }
                @include media-breakpoint-down(md) {
                    font-size: var(--sh-section-heading-font-size-mobile);
                }
            }
            .hotel_management_box {
                display: flex;align-items: flex-start;

                .hotel_management_svg_box {
                    svg {
                        width: 25px;fill: o-color(o-color-1);margin-right: 15px;margin-top:5px;
                        .cls-2 {
                            fill: o-color(o-color-1);
                        }
                        @include media-breakpoint-down(lg) {
                            width: 25px;margin-right: 10px;
                        }
                    }
                }
                .hotel_management_text {
                    .sh_about_mobile_app_text {
                        font-size: var(--sh-website-normal-text-font-size);font-weight: var(--sh-website-normal-text-font-weight);color: var(--sh-website-normal-text-font-color);
                        @include media-breakpoint-only(md) {
                            font-size: var(--sh-section-heading-sub-title-font-size-tablet); margin-bottom: 0;
                        }
                        @include media-breakpoint-down(md) {
                            font-size: var(--sh-section-heading-sub-title-font-size-mobile);
                        }
                    }
                }
                .btn {  
                    @include sh_primary_button;margin-top:20px;
                    span {
                        display: flex;align-items: center;
                        svg {
                            stroke: #fff;display: inline-block;width: 30px; padding-right:5px;height: 30px;
                        }
                    }
                }
            }
        }
        .sh_parking_management_about_ing_box {
            position: relative;padding:50px;background-color: rgba(87, 74, 199, 0.05);border-radius: 10px;
            @include media-breakpoint-down(lg) {
                padding: 0px;
            }
            .sh_photo_group {
                display: flex;position: relative;z-index: 10;
                @include media-breakpoint-down(sm) {
                    justify-content: center;
                }
            }
            .sh_second_photo {
                position: relative;width:100%;height: 350px;
                @include media-breakpoint-down(md) {
                    height: auto;
                }
                img {
                    width: 100%;height: 100%;box-shadow: var(--sh-website-box-shadow);border-radius: var(--sh-website-common-border-radius);object-fit: cover;
                }
                svg {
                    bottom: -35px;right: -55px;width: 340px;height: auto;position: absolute;z-index: -1;
                    .cls-1 {
                        fill: o-color(o-color-1);
                    }
                    @include media-breakpoint-down(lg) {
                        display: none;
                    }
                }
            }
        }
    }
}
// Hotel Management overview section // 


// sh_hotel_management_dashboard_section start //

#sh_hotel_management_dashboard_section{
    position: relative;padding-top:var(--sh-section-top-padding);  background:#fff; padding-bottom:100px;
    @include media-breakpoint-between(lg, xl){
        padding-bottom: var(--sh-section-bottom-padding);
    }
    .sh_heading_box{
        width: var(--sh-section-heading-width-desktop); margin:0px auto; margin-bottom:70px;
        h2.sh_title_box{
            font-size: var(--sh-section-heading-font-size);font-weight: var(--sh-section-heading-font-weight);line-height: var(--sh-section-heading-line-height);color: var(--sh-section-heading-font-color);margin-bottom: var(--sh-section-heading-margin-bottom);text-align: center;
            @include media-breakpoint-only(md){
                font-size: var(--sh-section-heading-font-size-tablet);margin-bottom:15px;
            }
            @include media-breakpoint-down(md){
                font-size: var(--sh-section-heading-font-size-mobile);margin-bottom:15px; 
            }
        }
        p.sh_text{
            font-size: var(--sh-section-heading-sub-title-font-size);color: var(--sh-section-heading-sub-title-font-color);font-weight: var(--sh-section-heading-sub-title-font-weight);line-height: var(--sh-section-heading-sub-title-line-height);margin-bottom: var(--sh-section-heading-sub-title-margin-bottom);text-align: center;
            @include media-breakpoint-only(md){
                font-size: var(--sh-section-heading-sub-title-font-size-tablet);
            }
            @include media-breakpoint-down(md){
                font-size: var(--sh-section-heading-sub-title-font-size-mobile);
            }
        }
    }
    
    .sh_order{
        @include media-breakpoint-down(md){
            order:2;
        }
    }
    .sh_about_image_box{
        width:100%;
        .sh_img{
            height:350px;width:90%;border-radius: var(--sh-website-common-border-radius);position: relative;
            &:after{
                content: "";position: absolute;top: 0;left: 0;width: 100%;height: 100%;background-color: black;opacity: 0.1;z-index: 0;border-radius: var(--sh-website-common-border-radius);
            }
            @include media-breakpoint-only(lg) {
                height:300px;margin-bottom: 0;width:100%;
            }
            @include media-breakpoint-down(lg) {
                margin-bottom: 0;width:100%;height:250px;
            }
            @include media-breakpoint-down(md){
                margin-bottom:20px;
            }
            .sh_number{
                position: absolute; height:70px; width:70px; border-radius:100%; display:flex; justify-content: center; align-items: center; top:50%; left:50%; background:rgba(255,255,255,0.9);font-size:22px;color:o-color(o-color-1); transform: translate(-50%,-50%); transition:0.4s;cursor: pointer; z-index:1;
                &:after{
                    z-index: -1;opacity: 0;border-color:#fff;background: inherit;border-radius: inherit;position: absolute;border-width: 2px;border-style: solid;left: 0;top: 0;width: 100%;height: 100%;content: '';-webkit-animation-name: sh_video_icon_animate;-webkit-animation-duration: 1s;-webkit-animation-timing-function: linear;-webkit-animation-delay: 0s;-webkit-animation-iteration-count: infinite;-webkit-animation-play-state: running;-webkit-animation-name: sh_video_icon_animate;animation-name: sh_video_icon_animate;-webkit-animation-duration: 1s;animation-duration: 1.3s;animation-delay: 0s;-webkit-animation-iteration-count: infinite;animation-iteration-count: infinite;-webkit-animation-play-state: running;animation-play-state: running;
                }

                @keyframes sh_video_icon_animate {
                    0% {
                        opacity: .5;
                        -ms-transform: scale(1);
                        -webkit-transform: scale(1);
                        transform: scale(1)
                    }
                
                    25% {
                        -ms-transform: scale(1.2);
                        -webkit-transform: scale(1.2);
                        transform: scale(1.2);
                        opacity: .3
                    }
                
                    60% {
                        -ms-transform: scale(1.35);
                        -webkit-transform: scale(1.35);
                        transform: scale(1.35);
                        opacity: 0
                    }
                }
                svg{
                    height:30px; width:30px; fill:o-color(o-color-1) !important;transition:0.4s;
                }
                &:hover{
                    background:o-color(o-color-1);
                    svg{
                        fill:#fff !important;
                    }
                }
            }
            img{
                height:100%; width:100%;border-radius:var(--sh-website-common-border-radius);
            }
            .sh_shape{
                svg{
                    height:350px !important; width:350px !important;
                    position: absolute; bottom:-150px; right:-50px;z-index:-1;display: block; stroke:o-color(o-color-1); stroke-width:3;
                @include media-breakpoint-down(xl){
                    display:none;
                }
                }
            }
        }
    }
    .sh_odoo_services_about_content{
        h2.sh_heading_title{
            font-size:var(--sh-section-heading-font-size);font-weight:var(--sh-section-heading-font-weight);line-height:var(--sh-section-heading-line-height);color:var(--sh-section-heading-font-color);margin-bottom:var(--sh-section-heading-margin-bottom);
            @include media-breakpoint-only(md){
                font-size: var(--sh-section-heading-font-size-tablet);margin-bottom:15px;
            }
            @include media-breakpoint-down(md){
                font-size: var(--sh-section-heading-font-size-mobile);margin-bottom:15px;
            }
        }
        p.sh_text{
            font-size: var(--sh-website-normal-text-font-size);font-weight:var(--sh-website-normal-text-font-weight);color: var(--sh-website-normal-text-font-color);line-height: var(--sh-website-normal-text-line-height);margin-bottom:0;
            @include media-breakpoint-only(md){
                font-size: var(--sh-section-heading-sub-title-font-size-tablet);
            }
            @include media-breakpoint-down(md){
                font-size: var(--sh-section-heading-sub-title-font-size-mobile);
            }
        }

    }
    
}
#sh_hotel_management_dashboard_section.sh_remove_space{padding:30px 0px;
@include media-breakpoint-down(lg){
    padding:20px 0px 10px 0px;
}
}
#sh_hotel_management_dashboard_section.sh_remove_space_1{
    @include media-breakpoint-down(lg){
        padding:20px 0px 40px 0px;
    }
    }

@include media-breakpoint-down(xl){
    #sh_hotel_management_dashboard_section{
        .sh_about_image_box{
            .sh_img{
                .sh_shape{
                    svg{
                        height: 300px !important;width: 300px !important;right:-30px;bottom: -120px;
                    }
                }
            }
        }
        
    }
}
@include media-breakpoint-down(lg){
    #sh_hotel_management_dashboard_section{
        padding-bottom:10px;
        .sh_heading_box{
            width:100%;
        }
        .sh_about_image_box{
            .sh_img{
                .sh_number{height:70px; width:70px;
                    svg{
                        height:30px; width:30px;
                    }
                }
                img{object-fit: cover;}
            }

        }

    }
}
@include media-breakpoint-down(sm){
    #sh_hotel_management_dashboard_section{
        .sh_about_image_box{
            .sh_img{
                .sh_shape{
                    svg{
                        height: 250px !important;width: 250px !important;right: -10px;bottom: -100px;
                    }
                }
            }
        }
    }
}
// sh_hotel_management_dashboard_section section end //


// sh_room_management_section start //

#sh_room_management_section{
    position: relative;padding-top:var(--sh-section-top-padding);  background:#fff; padding-bottom:100px;
    @include media-breakpoint-between(lg, xl){
        padding-bottom: var(--sh-section-bottom-padding);
    }
    .sh_heading_box{
        width: var(--sh-section-heading-width-desktop); margin:0px auto; margin-bottom:70px;
        h2.sh_title_box{
            font-size: var(--sh-section-heading-font-size);font-weight: var(--sh-section-heading-font-weight);line-height: var(--sh-section-heading-line-height);color: var(--sh-section-heading-font-color);margin-bottom: var(--sh-section-heading-margin-bottom);text-align: center;
            @include media-breakpoint-only(md){
                font-size: var(--sh-section-heading-font-size-tablet);margin-bottom:15px;
            }
            @include media-breakpoint-down(md){
                font-size: var(--sh-section-heading-font-size-mobile);margin-bottom:15px; 
            }
        }
        p.sh_text{
            font-size: var(--sh-section-heading-sub-title-font-size);color: var(--sh-section-heading-sub-title-font-color);font-weight: var(--sh-section-heading-sub-title-font-weight);line-height: var(--sh-section-heading-sub-title-line-height);margin-bottom: var(--sh-section-heading-sub-title-margin-bottom);text-align: center;
            @include media-breakpoint-only(md){
                font-size: var(--sh-section-heading-sub-title-font-size-tablet);
            }
            @include media-breakpoint-down(md){
                font-size: var(--sh-section-heading-sub-title-font-size-mobile);
            }
        }
    }
    
    .sh_order{
        @include media-breakpoint-down(md){
            order:2;
        }
    }
    .sh_about_image_box{
        width:100%;
        .sh_img{
            height:350px;width:90%;border-radius: var(--sh-website-common-border-radius);position: relative;
            @include media-breakpoint-only(lg) {
                height:300px; margin-top: 10px;width:100%;
            }
            @include media-breakpoint-down(lg) {
                margin-top: 10px;width:100%;height:250px;
            }
            @include media-breakpoint-down(md){
                margin-bottom:20px;
            }
            img{
                height:100%; width:100%;border-radius:var(--sh-website-common-border-radius);
            }
            .sh_shape{
                svg{
                    height:350px !important; width:350px !important;
                    position: absolute; bottom:-150px; right:-50px;z-index:-1;display: block; stroke:o-color(o-color-1); stroke-width:3;
                @include media-breakpoint-down(xl){
                    display:none;
                }
                }
            }
        }
    }
    .sh_odoo_services_about_content{
        h2.sh_heading_title{
            font-size:var(--sh-section-heading-font-size);font-weight:var(--sh-section-heading-font-weight);line-height:var(--sh-section-heading-line-height);color:var(--sh-section-heading-font-color);margin-bottom:var(--sh-section-heading-margin-bottom);
            @include media-breakpoint-only(md){
                font-size: var(--sh-section-heading-font-size-tablet);margin-bottom:15px;
            }
            @include media-breakpoint-down(md){
                font-size: var(--sh-section-heading-font-size-mobile);margin-bottom:15px;
            }
        }
        p.sh_text{
            font-size: var(--sh-website-normal-text-font-size);font-weight:var(--sh-website-normal-text-font-weight);color: var(--sh-website-normal-text-font-color);line-height: var(--sh-website-normal-text-line-height);margin-bottom:0;
            @include media-breakpoint-only(md){
                font-size: var(--sh-section-heading-sub-title-font-size-tablet);
            }
            @include media-breakpoint-down(md){
                font-size: var(--sh-section-heading-sub-title-font-size-mobile);
            }
        }

    }
    
}
#sh_room_management_section.sh_remove_space{padding:30px 0px;
@include media-breakpoint-down(lg){
    padding:20px 0px 10px 0px;
}
}
#sh_room_management_section.sh_remove_space_1{
    @include media-breakpoint-down(lg){
        padding:20px 0px 40px 0px;
    }
    }

@include media-breakpoint-down(lg){
    #sh_room_management_section{
        padding-bottom:10px;
        .sh_heading_box{
            width:100%;
        }
        .sh_about_image_box{
            .sh_img{
                img{object-fit: cover;}
            }

        }

    }
}
// sh_room_management_section section end //


// start sh_employee_management //
#sh_employee_management_section {
    position: relative;padding-top: var(--sh-section-top-padding);padding-bottom: var(--sh-section-bottom-padding);background-color: #fff;
    @include media-breakpoint-down(lg) {
        padding-top: var(--sh-section-top-padding-mobile); padding-bottom: var(--sh-section-bottom-padding-mobile);
    }
    .sh_employee_management_main {
        .sh_service_content_box {
            width: 100%;
            padding-right: 80px;

            @include media-breakpoint-down(lg) {
                padding: 0px;
                margin-bottom: 30px;
            }
            .sh_service_content_box_title {
                font-size: var(--sh-section-heading-font-size);font-weight: var(--sh-section-heading-font-weight);line-height: var(--sh-section-heading-line-height);color: var(--sh-section-heading-font-color);margin-bottom: var(--sh-section-heading-margin-bottom);text-transform: capitalize;
                @include media-breakpoint-only(md) {
                    font-size: var(--sh-section-heading-font-size-tablet)
                }
                @include media-breakpoint-down(md) {
                    font-size: var(--sh-section-heading-font-size-mobile)
                }
            }
            .sh_service_content_box_text {
                font-size: var(--sh-website-normal-text-font-size);font-weight: var(--sh-website-normal-text-font-weight);color: var(--sh-website-normal-text-font-color);line-height: var(--sh-website-normal-text-line-height);margin-bottom: var(--sh-section-heading-margin-bottom);
                @include media-breakpoint-only(md) {
                    font-size: var(--sh-website-normal-text-font-size-tablet)
                }
                @include media-breakpoint-down(md) {
                    font-size: var(--sh-website-normal-text-font-size-mobile)
                }
            }
            .sh_service_content_dic {
                .sh_service_content_ul {
                    padding-left: 0;
                    .sh_service_content_li {
                        font-size: var(--sh-website-normal-text-font-size); color: var(--sh-website-normal-text-font-color);font-weight: var(--sh-website-normal-text-font-weight);margin-bottom: 10px;list-style-type: none;display: flex;
                        @include media-breakpoint-only(md) {
                            font-size: var(--sh-website-normal-text-font-size-tablet)
                        }
                        @include media-breakpoint-down(md) {
                            font-size: var(--sh-website-normal-text-font-size-mobile)
                        }
                        .sh_service_content_li_check_box {
                            width: 30px;
                            .sh_service_content_li_check {
                                background-color: o-color(o-color-1);font-size: 15px;border-radius: 50px;color: #fff;margin-right: 20px;padding: 3px;
                            }
                        }
                        .sh_highlight{
                            font-size:20px; color: var(--sh-section-heading-font-color);font-weight: var(--sh-section-heading-font-weight)
                        }
                    }
                }
            }
        }
    }
    .sh_about_image_box{
        width:100%;
        .sh_img{
            height:350px;width:90%;border-radius: var(--sh-website-common-border-radius);position: relative;
            &:after{
                content: "";position: absolute;top: 0;left: 0;width: 100%;height: 100%;background-color: black;opacity: 0.1;z-index: 0;border-radius: var(--sh-website-common-border-radius);
            }
            @include media-breakpoint-only(lg) {
                height:300px;margin-bottom: 0;width:100%;
            }
            @include media-breakpoint-down(lg) {
                margin-bottom: 0;width:100%;height:250px;
            }
            @include media-breakpoint-down(md){
                margin-bottom:20px;
            }
            img{
                height:100%; width:100%;border-radius:var(--sh-website-common-border-radius);
            }
            .sh_shape{
                svg{
                    height:350px !important; width:350px !important;
                    position: absolute; bottom:-150px; right:-50px;z-index:-1;display: block; stroke:o-color(o-color-1); stroke-width:3;
                @include media-breakpoint-down(xl){
                    display:none;
                }
                }
            }
        }
    }
}
// end sh_employee_management //

// sh_manageemnt_faq_section //

#sh_manageemnt_faq_section{
    position: relative;padding-top:var(--sh-section-top-padding); padding-bottom:var(--sh-section-bottom-padding); 
    @include media-breakpoint-down(lg) {
        padding-top: var(--sh-section-top-padding-mobile);padding-bottom: var(--sh-section-bottom-padding-mobile);
    }
    .sh_inner_box {
        .sh_flex_column_reverse{
            @include media-breakpoint-down(md){
                flex-direction: column-reverse;
            }
        }
        .sh_mission_vision_about_ing_box {
            position: relative;padding:50px;background-color: rgba(87, 74, 199, 0.05);border-radius: 10px;
            @include media-breakpoint-down(lg) {
                padding: 0px;
            }
            .sh_photo_group {
                display: flex;position: relative;z-index: 10;
                @include media-breakpoint-down(sm) {
                    justify-content: center;
                }
            }
            .sh_second_photo {
                position: relative;width:100%;height: 350px;
                @include media-breakpoint-only(md) {
                    height: 300px;
                }
                @include media-breakpoint-down(md) {
                    height: auto;
                }
                img {
                    width: 100%;height: 100%;box-shadow: var(--sh-website-box-shadow);border-radius: var(--sh-website-common-border-radius);object-fit: cover;
                }
                svg {
                    bottom: -35px;right: -55px;width: 340px;height: auto;position: absolute;z-index: -1;
                    .cls-1 {
                        fill: o-color(o-color-1);
                    }
                    @include media-breakpoint-down(lg) {
                        display: none;
                    }
                }
            }
        }
        .sh_mission_vision_about_content {
            padding-right: 40px;padding-left: 40px;
            @include media-breakpoint-down(lg) {
                padding-right: 0px;padding-left: 0px;
            }
            &.sh_mission_accordion_box{
                @include media-breakpoint-down(lg) {
                   margin-bottom: 20px
                }
            }
            .sh_sub_title {
                @include sh_sub_badge;
                margin-bottom: var(--sh-section-heading-sub-title-margin-bottom);
                @include media-breakpoint-down(md) {
                    font-size: var(--sh-section-heading-sub-title-font-size-mobile);margin-bottom: 15px;
                }
            }
            p.sh_text {
                font-size: var(--sh-website-normal-text-font-size);font-weight: var(--sh-website-normal-text-font-weight);color: var(--sh-website-normal-text-font-color);line-height: var(--sh-website-normal-text-line-height);margin-bottom: var(--sh-section-heading-sub-title-margin-bottom);
                @include media-breakpoint-only(md)  {
                    font-size: var(--sh-section-heading-sub-title-font-size-tablet);
                }
                @include media-breakpoint-down(md) {
                    font-size: var(--sh-section-heading-sub-title-font-size-mobile);
                }
            }   
            .sh_goal_box{
                .sh_goal_box_content {
                    display: flex;align-items: flex-start;margin-bottom: 20px;
                    .sh_goal_check_box {
                        svg {
                            width: 25px;fill: o-color(o-color-1);margin-right: 20px;margin-top: 5px;
                            .cls-1 {
                                fill: o-color(o-color-1); stroke:none !important;
                            }
                            
                            @include media-breakpoint-down(lg) {
                                width: 20px;
                            }
                            .cls-2{
                                fill:none !important; stroke:none !important;
                            }
                        }
                    }
                    .sh_goal_text {
                        font-size: var(--sh-website-normal-text-font-size);font-weight: var(--sh-website-normal-text-font-weight);color: var(--sh-website-normal-text-font-color);line-height: var(--sh-website-normal-text-line-height);
                        @include media-breakpoint-only(md) {
                            font-size: var(--sh-section-heading-sub-title-font-size-tablet);
                        }
                        @include media-breakpoint-down(md) {
                            font-size: var(--sh-section-heading-sub-title-font-size-mobile);
                        }
                    }
                }
            }
            .sh_mission_box_accordion{
                .accordion-item{
                    border-bottom: 1px solid rgba(0, 0, 0, 0.125) !important;
                    @include media-breakpoint-down(md){
                        width:100%;
                    }
                    .sh_mission_box_accordion_header{
                        .sh_mission_box_accordion_btn{
                            box-shadow: none;outline: none;color: var(--sh-section-heading-font-color);font-weight: var(--sh-website-normal-text-font-weight); font-size: var(--sh-website-heading-title-font-size); padding: 15px 0;background: transparent;
                        }
                    }
                    .sh_mission_box_accordion_body{
                        padding: 10px 0;
                        .sh_mission_box_accordion_text{
                            font-size: var(--sh-website-normal-text-font-size);font-weight: var(--sh-website-normal-text-font-weight);color: var(--sh-website-normal-text-font-color);line-height: var(--sh-website-normal-text-line-height);margin-bottom: 0;
                            @include media-breakpoint-only(md) {
                                font-size: var(--sh-section-heading-sub-title-font-size-tablet);
                            }
                            @include media-breakpoint-down(md) {
                                font-size: var(--sh-section-heading-sub-title-font-size-mobile);
                            }
                        }
                    }
                }
            }
        }
    }
}

// sh_manageemnt_faq_section end // 


// call to action start //
#sh_helpdesk_management_call_to_action {
    @include sh_call_to_action_section;
}
// call to action end //